
// small smartphones (landscape view)
$screen-s-min: 414px;

// small tablets and large smartphones (landscape view)
$screen-sm-min: 568px;


// medium small tablets and large smartphones (landscape view)
$screen-ms-max: 767px;

// small tablets and large smartphones (landscape view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 962px;

// extra Large tablets and desktops
$screen-xl-min: 1024px;

// extra extra Large desktops
$screen-xxl-min: 1200px;
